
@{
    ViewData["Title"] = "Sitemap";
}

@section metatags{
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@($"https://{Context.Request.Host}{Url.RouteUrl("Sitemap")}")" />
    <meta property="og:image" content="@($"https://{Context.Request.Host}/img/dalystudio.jpg")" />
    <meta property="og:image:width" content="1250" />
    <meta property="og:image:height" content="656" />

    <meta name="description" content="Please check NordicSoft.net sitemap to find the page you need. Enjoy using quality article and content writing service right now." />
}


<section id="schedule">
    <div class="container">
        @await Html.PartialAsync("_Breadcrumbs")
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1">
                    Sitemap
                </h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
            </div>
            <div class="col-12 box-shadow-v2 p-5">
                <ul class="siteMap">
                    <li>
                        <a href="@Url.RouteUrl("HomeIndex")" title="NordicSoft.net - Home Page">NordicSoft.net - Home Page</a>
                        <ul>
                            <li><a href="@Url.RouteUrl("Workflow")" title="NordicSoft.net - Workflow">NordicSoft.net - Workflow</a></li>
                            <li><a href="@Url.RouteUrl("Faq")" title="NordicSoft.net - Faq">NordicSoft.net - Faq</a></li>
                            <li><a href="@Url.RouteUrl("Pricing")" title="NordicSoft.net - Pricing">NordicSoft.net - Pricing</a></li>
                            <li><a href="@Url.RouteUrl("Contact")" title="NordicSoft.net - Contact us">NordicSoft.net - Contact us</a></li>
                            <li><a href="@Url.RouteUrl("BlogIndex")" title="NordicSoft.net - BlogIndex">NordicSoft.net - Blog</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
