@using RichardGrace.com
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=100">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Production">
        @if (Context.Request.Host.Value == Settings.SiteNameDomain.ToLower())
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137521661-3"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', 'UA-137521661-3');
            </script>
        }
    </environment>

    <title>Wedding | Richard and Grace</title>

    @if (!string.IsNullOrEmpty(Settings.FbAppId))
    {
        @*<meta property="fb:app_id" content="@Settings.FbAppId" />*@
    }
    <meta property="og:site_name" content="@Settings.SiteName" />

    @RenderSection("metatags", false)

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <meta name="application-name" content="@Settings.SiteName">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="apple-mobile-web-app-title" content="@Settings.SiteName">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("links", false)
    <style>
        body{overflow-x:hidden;font-weight:400;line-height:1.75;font-family:Arial,sans-serif}.heading-font{text-transform:none;font-family:Arial,sans-serif}.secondary-font{text-transform:inherit;font-family:Times New Roman,serif}p{font-size:14px;line-height:26px}a{outline:0;text-decoration:none}a{color:#333}#where p{font-size:16px}.navbar-nav{float:none;margin:0 auto}.navbar-nav>li{float:none;display:inline-block}.navbar-default{border-color:transparent;background-color:transparent}.navbar-default .nav .navbar-brand{font-size:40px;font-style:italic;font-weight:300;letter-spacing:2.2px;text-transform:none;color:#fff;line-height:40px;padding:21px 25px 30px;font-family:Times New Roman,serif}.navbar-default .navbar-collapse{border-color:hsla(0,0%,100%,.02)}.navbar-default .navbar-toggle{border-color:transparent;background-color:transparent}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.navbar-default .nav li a{text-transform:uppercase;font-weight:700;font-size:14px;color:#333;padding:25px 13px;letter-spacing:1px}#headerwrap .intro-text,.navbar-default .navbar-brand,.navbar-default .nav li>a{color:#f3f3f3}@@media (max-width:767px){.navbar-default .nav li>a{color:#333}.navbar-default{background-color:#fff}.navbar-default .navbar-brand.logo{font-size:30px;line-height:45px;padding:0;color:#333;font-family:Times New Roman,serif}#main-navigation{background-color:#fff}.navbar-default .navbar-toggle .icon-bar{background-color:#333}}@@media (max-width:419px){.navbar-default .nav li a{padding:15px 6px}}header{position:relative;overflow:hidden;height:100vh;text-align:center;color:#333}header:before{content:"";position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(91,91,88,.4)}header .container{z-index:2;position:relative}header .intro-text{padding-top:100px;padding-bottom:50px;color:#333}header .intro-text .intro-heading{font-size:48px;margin-bottom:60px;text-transform:uppercase;font-size:30px;font-weight:300;line-height:30px}header .intro-text .intro-heading span{clear:both;display:block;margin-bottom:24px;font-size:70px;line-height:1;text-transform:none}.tab-pane .tab-inner{padding:30px 0 20px}@@media (min-width:767px){header .intro-text{padding-top:420px;padding-bottom:100px}header .intro-text .intro-heading{margin-bottom:40px;text-transform:uppercase;font-size:36px;font-weight:700;letter-spacing:4px;line-height:38px}.navbar-fixed-top .container-fluid{padding-left:30px;padding-right:30px}}@@media (min-width:768px){.navbar-default{padding:0;border:0;background-color:transparent}.navbar-default .navbar-brand{font-size:2em}}@@media (max-width:768px){.fullheight{height:auto!important;min-height:600px}}@@media (max-width:460px){.fullheight{height:auto!important;min-height:400px}}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}header,main,nav{display:block}a{background-color:transparent}button,input{margin:0;font:inherit;color:inherit}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px}body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}button,input{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}p{margin:0 0 10px}.text-center{text-align:center}ul{margin-top:0;margin-bottom:10px}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@@media (min-width:768px){.container{width:750px}}@@media (min-width:992px){.container{width:970px}}@@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.fade{opacity:0}.collapse{display:none}.nav{padding-left:0;margin-bottom:0;list-style:none}.nav>li,.nav>li>a{position:relative;display:block}.nav>li>a{padding:10px 15px}.tab-content>.tab-pane{display:none}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@@media (min-width:768px){.navbar{border-radius:4px}}@@media (min-width:768px){.navbar-header{float:left}}.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1);box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1)}@@media (min-width:768px){.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-fixed-top .navbar-collapse{padding-right:0;padding-left:0}}.navbar-fixed-top .navbar-collapse{max-height:340px}@@media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-top .navbar-collapse{max-height:200px}}.container-fluid>.navbar-collapse,.container-fluid>.navbar-header{margin-right:-15px;margin-left:-15px}@@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header{margin-right:0;margin-left:0}}.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}@@media (min-width:768px){.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-brand{float:left;height:50px;padding:15px;font-size:18px;line-height:20px}@@media (min-width:768px){.navbar>.container-fluid .navbar-brand{margin-left:-15px}}.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}@@media (min-width:768px){.navbar-toggle{display:none}}.navbar-nav{margin:7.5px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7}.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-nav>li>a{color:#777}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse{border-color:#e7e7e7}.navbar-default .navbar-link{color:#777}.container-fluid:after,.container-fluid:before,.container:after,.container:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before{display:table;content:" "}.container-fluid:after,.container:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after{clear:both}@@-ms-viewport{width:device-width}.visible-xs{display:none!important}@@media (max-width:767px){.visible-xs{display:block!important}}@@media (max-width:767px){.hidden-xs{display:none!important}}
    </style>

    <link rel="preload" href="~/dist/fonts/open-sans-subset.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/dist/fonts/dancing-script-subset.woff2" as="font" type="font/woff2" crossorigin>
    <script src="~/dist/fonts-load.js" defer></script>

    <environment include="Development">
        <script src="~/dist/vendor_styles.js"></script>
        <script src="~/dist/custom_styles.js"></script>
    </environment>
    <environment exclude="Development">

        <link rel="preload" href="~/dist/vendor_styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="~/dist/vendor_styles.css"></noscript>

        <link rel="preload" href="~/dist/custom_styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="~/dist/custom_styles.css"></noscript>
        <script>
            /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
            !function (t) { "use strict"; t.loadCSS || (t.loadCSS = function () { }); var e = loadCSS.relpreload = {}; if (e.support = function () { var e; try { e = t.document.createElement("link").relList.supports("preload") } catch (t) { e = !1 } return function () { return e } }(), e.bindMediaToggle = function (t) { var e = t.media || "all"; function a() { t.media = e } t.addEventListener ? t.addEventListener("load", a) : t.attachEvent && t.attachEvent("onload", a), setTimeout(function () { t.rel = "stylesheet", t.media = "only x" }), setTimeout(a, 3e3) }, e.poly = function () { if (!e.support()) for (var a = t.document.getElementsByTagName("link"), n = 0; n < a.length; n++) { var o = a[n]; "preload" !== o.rel || "style" !== o.getAttribute("as") || o.getAttribute("data-loadcss") || (o.setAttribute("data-loadcss", !0), e.bindMediaToggle(o)) } }, !e.support()) { e.poly(); var a = t.setInterval(e.poly, 500); t.addEventListener ? t.addEventListener("load", function () { e.poly(), t.clearInterval(a) }) : t.attachEvent && t.attachEvent("onload", function () { e.poly(), t.clearInterval(a) }) } "undefined" != typeof exports ? exports.loadCSS = loadCSS : t.loadCSS = loadCSS }("undefined" != typeof global ? global : this);
        </script>
    </environment>

</head>
<body>
    <!--[if lt IE 8]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main>
        @RenderBody()
    </main>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Event",
        "name": "Richard and Grace",
        "startDate": "2020-01-11T16:00",
        "endDate": "2020-01-11T22:00",
        "location": {
        "@@type": "Place",
        "name": "Hollins House Weddings and Events",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "20 Clubhouse Rd",
        "addressLocality": "Santa Cruz",
        "postalCode": "95060"
        }
        },
        "image": "https://richard-grace.com/img/richard-grace-image.jpg",
        "description": "We are happy to invite you to celebrate our special day with us, click here to find some useful and interesting information about us and our wedding."
        }
    </script>
    <script src="~/dist/vendor_src.js" defer></script>
    <script src="~/dist/main.js" defer></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
