@using Event
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NordicSoft | YOUCANHACKIT</title>

    @if (!string.IsNullOrEmpty(Settings.FbAppId))
    {
        @*<meta property="fb:app_id" content="@Settings.FbAppId" />*@
    }
    <meta property="og:site_name" content="@Settings.SiteName" />

    @RenderSection("metatags", false)
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("links", false)

    @RenderSection("criticalCSS", false)

    <environment include="Development">
    <script src="~/dist/vendor_styles.js"></script>
    <script src="~/dist/custom_styles.js"></script>
    </environment>
    <environment exclude="Development">

        <link rel="preload" href="~/dist/vendor_styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="~/dist/vendor_styles.css"></noscript>

        <link rel="preload" href="~/dist/custom_styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="~/dist/custom_styles.css"></noscript>
        <script>
            /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
            !function (t) { "use strict"; t.loadCSS || (t.loadCSS = function () { }); var e = loadCSS.relpreload = {}; if (e.support = function () { var e; try { e = t.document.createElement("link").relList.supports("preload") } catch (t) { e = !1 } return function () { return e } }(), e.bindMediaToggle = function (t) { var e = t.media || "all"; function a() { t.media = e } t.addEventListener ? t.addEventListener("load", a) : t.attachEvent && t.attachEvent("onload", a), setTimeout(function () { t.rel = "stylesheet", t.media = "only x" }), setTimeout(a, 3e3) }, e.poly = function () { if (!e.support()) for (var a = t.document.getElementsByTagName("link"), n = 0; n < a.length; n++) { var o = a[n]; "preload" !== o.rel || "style" !== o.getAttribute("as") || o.getAttribute("data-loadcss") || (o.setAttribute("data-loadcss", !0), e.bindMediaToggle(o)) } }, !e.support()) { e.poly(); var a = t.setInterval(e.poly, 500); t.addEventListener ? t.addEventListener("load", function () { e.poly(), t.clearInterval(a) }) : t.attachEvent && t.attachEvent("onload", function () { e.poly(), t.clearInterval(a) }) } "undefined" != typeof exports ? exports.loadCSS = loadCSS : t.loadCSS = loadCSS }("undefined" != typeof global ? global : this);
        </script>
    </environment>

</head>
<body>
    <!--[if lt IE 8]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<main>
    @RenderBody()
</main>
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Event",
    "name": "#YOUCANHACKIT 2019",
    "startDate": "2019-11-07T19:00",
    "endDate": "2019-11-09T15:00",
    "location": {
    "@@type": "Place",
    "name": "Ulemiste City park",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "Keevise 3",
    "addressLocality": "Tallinn",
    "postalCode": "11415"
    }
    },
    "image": "https://nordicsoft.events/images/events_google_image.jpg",
    "description": "Register now if you are sure #youcanhackit. Learn more info about hackathon itself, prizes and facilities we offer."
    }
</script>

    <script src="~/dist/vendor_src.js" defer></script>
    <script src="~/dist/main.js" defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
