@{
    ViewData["Title"] = "Contact Us|Daly Studio";
    ViewData["Description"] = "If you would like to check our availability to photograph your special day or need more info, please complete the contact form and get in touch with us.";
}

@{
    var textareaValue = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.Category) && !string.IsNullOrEmpty(ViewBag.TypeOfService))
    {
        textareaValue = $"Category: {ViewBag.Category}, Type of service: {ViewBag.TypeOfService}.";

    }
    if (ViewBag.Category == "Enterprise")
    {
        textareaValue = $"Category: {ViewBag.Category}.";
    }
    var nameValue = !string.IsNullOrEmpty(ViewBag.Name) ? $"{ViewBag.Name}" : string.Empty;
    var emailValue = !string.IsNullOrEmpty(ViewBag.Email) ? $"{ViewBag.Email}" : string.Empty;
}

@section metatags{
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Url.RouteUrl("Contact")}")" />
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}/img/dalystudio.jpg")" />
    <meta property="og:image:width" content="1250" />
    <meta property="og:image:height" content="656" />

    <meta name="description" content="If you would like to check our availability to photograph your special day or need more info, please complete the contact form and get in touch with us." />
}

@section links
    {
    <link rel="canonical" href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Url.RouteUrl("Contact")}")" />
}
@section criticalCSS
    {
    <style>
       
    </style>
}


@section scripts{
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc1c3MUAAAAAOMPCD9lX3k12R7Bb46IjpCl9qTg"></script>
    <script>
        //grecaptcha.ready(function () {
        //    grecaptcha.execute('6Lc1c3MUAAAAAOMPCD9lX3k12R7Bb46IjpCl9qTg', { action: 'contact' }).then(function (token) {
        //        $("input[name=g-recaptcha-response-token]").val(token);
        //        $("input[name=g-recaptcha-action]").val("contact");
        //    });
        //});
    </script>
}
    <section class="module module-header bg-dark bg-dark-50" data-background="../img/Contact.jpg">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt align-center">Contact</h1>

                    <div class="module-subtitle font-inc align-center">
                        Every big journey begins with a single step. Contact us and schedule your perfect photo shoot with Daly Studio.
                    </div>

                </div>

            </div>
            <!-- /MODULE TITLE -->

        </div>

    </section>
<!-- WRAPPER -->
<div class="wrapper">

    <!-- CONTACT -->
    <section class="module">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h2 class="module-title align-center font-alt">Get in touch</h2>

                    <div class="module-subtitle align-center font-inc">
                        I look forward to hearing from you and hope to be a part of your story. If you would like to enquire about my work or availability, please contact by filling out the blocks and I will reply you as soon as possible.
                    </div>

                </div>

            </div>
            <!-- /MODULE TITLE -->
            <!-- CONTACT FORM -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <form id="contact-form" role="form" novalidate="">

                        <div class="form-group">
                            <label class="sr-only" for="cname">Name</label>
                            <input type="text" id="cname" class="form-control" name="cname" placeholder="Name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cemail">Email</label>
                            <input type="email" id="cemail" name="cemail" class="form-control" placeholder="Your E-mail" required="" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cemail">Message</label>
                            <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message" required="" data-validation-required-message="Please enter your message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <button type="submit" class="btn btn-round btn-g">Submit</button>

                    </form>

                    <!-- Ajax response -->
                    <div id="contact-response" class="ajax-response font-alt"></div>

                </div>

            </div>
            <!-- /CONTACT FORM -->

        </div>

    </section>
    <!-- /CONTACT -->
    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->
     
    <partial name="_Footer" />


</div>
<!-- /WRAPPER -->