@{
    ViewData["Title"] = "Portfolio|Daly Studio";
    ViewData["Description"] = "See some examples of my works & featured weddings at Daly Studio. Our wedding photos tell beautiful stories of couples ...";
}
@section metatags
    {
    <meta name="description" content="We know answers to all your queries. Find the info you require or get in touch with us if you haven't found what you were looking for." />

}
@section links
    {
    <link rel="canonical" href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Url.RouteUrl("Portfolio")}")" />
}
<div class="wrapper">

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="../img/Homepage.jpg">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt align-center">PORTFOLIO</h1>

                    <div class="module-subtitle font-inc align-center">
                        Photography is a way of feeling, of touching, of loving. I think my works can speak for me.
                    </div>

                </div>

            </div>
            <!-- /MODULE TITLE -->

        </div>

    </section>
    <!-- /HOME -->
    <!-- PORTFOLIO -->
    <section class="module-small p-t-20 p-b-0 p-t-sm-0">

        <div class="container">

            <!-- PORTFOLIO FILTER -->
            <div class="row">
                <div class="col-sm-12">

                    <ul id="filters" class="filter font-inc">
                        <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
                        <li><a href="#" data-filter=".wedding" class="wow fadeInUp" data-wow-delay="0.2s">Wedding</a></li>
                        <li><a href="#" data-filter=".lovestory" class="wow fadeInUp" data-wow-delay="0.4s">Love Story</a></li>
                        <li><a href="#" data-filter=".fashion" class="wow fadeInUp" data-wow-delay="0.6s">Fashion</a></li>
                        <li><a href="#" data-filter=".family" class="wow fadeInUp" data-wow-delay="0.8s">Family</a></li>
                    </ul>

                </div>
            </div>
            <!-- /PORTFOLIO FILTER -->

        </div>

        <!-- PORTFOLIO LIST -->
        <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

            <!-- PORTFOLIO ITEM -->
            <li class="work-item wedding ">
                <a href="@Url.RouteUrl("Project1")">
                    <div class="work-image">
                        <img src="../img/wedding/Cover.jpg" alt="wedding-1">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">TOM & OLIVIA</h3>
                        <div class="work-descr font-inc">
                            Once in awhile, right in the middle of an ordinary life, love gives us a fairy tale.
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item wedding">
                <a href="@Url.RouteUrl("Project1")">
                    <div class="work-image">
                        <img src="../img/wedding/2.jpg" alt="wedding-2">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">TOM & OLIVIA</h3>
                        <div class="work-descr font-inc">
                            Once in awhile, right in the middle of an ordinary life, love gives us a fairy tale.
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item lovestory">
                <a href="@Url.RouteUrl("Project2")">
                    <div class="work-image">
                        <img src="../img/lovestory/lovestory.jpg" alt="lovestory">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">AMY & ERICK</h3>
                        <div class="work-descr font-inc">
                            Love is not about how many days, weeks, or months you've been together, it's all about how much you love each other every day
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item fashion">
                <a href="@Url.RouteUrl("Project3")">
                    <div class="work-image">
                        <img src="../img/fashion/fashion.jpg" alt="fashion">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">COLOR BEAUTY</h3>
                        <div class="work-descr font-inc">
                            You can have anything you want in life, if you dress for it
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item lovestory">
                <a href="@Url.RouteUrl("Project2")">
                    <div class="work-image">
                        <img src="../img/lovestory/3.jpg" alt="lovestory">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">AMY & ERICK</h3>
                        <div class="work-descr font-inc">
                            Love is not about how many days, weeks, or months you've been together, it's all about how much you love each other every day
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item family">
                <a href="@Url.RouteUrl("Project4")">
                    <div class="work-image">
                        <img src="../img/family/family.jpg" alt="family">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">CHRISTMAS STORIES</h3>
                        <div class="work-descr font-inc">
                            The best gift around the Christmas tree is the presence of family wrapped in love
                        </div>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->


        </ul>
        <!-- /PORTFOLIO LIST -->

    </section>
    <!-- /PORTFOLIO -->
    @*<!-- PAGINATION -->
        <section class="module-small p-t-0">

            <div class="container">

                <div class="pagination font-inc text-uppercase">

                    <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
                    <a href="#">Next <i class="fa fa-angle-right"></i></a>

                </div>

            </div>

        </section>
        <!-- /PAGINATION -->*@
    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->

    <partial name="_Footer" />

</div>
<!-- /WRAPPER -->